black==24.4.2
crispy-tailwind==1.0.3
django-allauth==0.63.3
django-crispy-forms==2.1
django-debug-toolbar==4.4.2
django-environ==0.11.2
django-extensions==3.2.3
django-post_office==3.8.0
django-stubs[compatible-mypy]==5.0.2
Django==5.0.6
gunicorn==22.0.0
Pillow==10.3.0
psycopg[binary]==3.1.19
whitenoise==6.6.0
django-ses==4.1.0
requests==2.32.3
pyjwt[crypto]==2.8.0
celery[librabbitmq,redis]==5.4.0
celery-redbeat==2.2.0
